<% var paths = []; %>
<% var partialData = { paths: paths }; %>

<%- partial('./partials/heading', { partialData: partialData}) %>

<div class="jumbotron">
    <h1>Friends Bet Back-Office</h1>
    <p>Welcome</p>
</div>

<%- partial('./partials/footer') %>