<%
var pages = {
    'home': { name: 'Home', url: '/' },
    'teams': { name: 'Teams', url: '/teams' },
    'matches': { name: 'Matches', url: '/matches' },
    'users': { name: 'Users', url: '/users' },
    'bets': { name: 'Bets', url: '/bets' },
};

if(paths.length) {
    pages[_.first(paths).url].isActive = true;
} else {
    pages['home'].isActive = true;
}
%>

<ul class="nav nav-pills nav-stacked">
    <% _.each(pages, function (page) { %>
        <li
        <% if(page.isActive) { %>
         class="active"
        <% } %>
        >
            <a href="<%= page.url %>"><%= page.name %></a>
        </li>
    <% }); %>
  </li>
</ul>